@import url('https://fonts.googleapis.com/css?family=Rakkas');

@media (max-width: 767px){
  #pixiCanvas{
  }
  #imgheader{
  }
}
@media (min-width: 767px){
  #imgheader{
    display: none;
  }
}
#pixiCanvas{
  position:auto;
}
.title{
  position:absolute;
  left:50%;
  top:50%;
  text-align:center;
  transform:translate(-50%, -50%);
  color:white;
  font-size:5em;
}
.title{
  position:absolute;
  left:50%;
  top:50%;
  text-align:center;
  transform:translate(-50%, -50%);
  color:#DBAB4C;
  font-size:4em;
}

.paragraph{
  position:absolute;
  left:50%;
  top:70%;
  text-align:center;
  transform:translate(-50%, -50%);
  color:white;
  font-size:1em;
}


#credits{
  position:absolute;
  width:100%;
  margin: auto;
  bottom:0;
  margin-bottom:12px;
  font-family:'Rakkas', sans-serif;
  letter-spacing:0.1rem;
  color:#777;
  font-size:0.7em;
  text-transform: uppercase;
  text-align : center;
}
#credits a {
  color:#777;
  text-decoration:none;
}

#credits a:hover {
  color:#DBAB4C;
}
